<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Merkadea</title>
</head>
<body>
  <header>
    <h2 class="nombre-startup">MERKADEA</h2>
    <nav>
      <a href="" class="nav-link">Startup</a>
      <a href="" class="nav-link">Seguridad</a>
      <a href="" class="nav-link">Ayuda</a>
      <a href="" class="nav-link">Iniciar sesión</a>
    </nav>

  </header>
  <!--Slider de imágenes-->
  <div class="slidershow middle">
    <div class="slides">
      <input type="radio" name="r" id="r1" checked>
      <input type="radio" name="r" id="r2">
      <input type="radio" name="r" id="r3">
      <div class="slide s1">
        <img src="../assets/Images/Mercado1.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../assets/Images/Mercado2.jpg" alt="">
      </div>
      <div class="slide">
        <img src="../assets/Images/Mercado3.jpg" alt="">
      </div>
    </div>
    <div class="navigation">
      <label for="r1" class="bar"></label>
      <label for="r2" class="bar"></label>
      <label for="r3" class="bar"></label>
    </div>
  </div>
  <!--Body-->

</body>
</html>